.illustration__image_color_broun {
  max-width: 110px;
  max-height: 110px;
  position: absolute;
  top: 99px;
  left: 141px;
}

@media screen and (max-width: 769px) {
  .illustration__image_color_broun {
    display: none;
  }
}
